body {
    font-family: Arial, sans-serif;
    background-color: #cadf12; 
    color: #fff; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #333; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1.title {
    text-align: center;
    color: #4CAF50;
}

form.task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 15%;
    padding: 10px;
    background-color: #FFA500;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff8c00;
}

.task-list h2 {
    color: white;
}

.task-list ul {
    list-style-type: none;
    padding-left: 0;
}

.task-list li {
    background-color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.remove-task {
    color: red;
    text-decoration: none;
    font-size: 18px;
}

.remove-task:hover {
    color: darkred;
}

.task-list p {
    color: white; 
}
