/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
}

.title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Formulário */
.task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.task-form button {
    width: 18%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #45a049;
}

/* Lista de tarefas */
.task-list {
    margin-top: 20px;
}

.task-list ul {
    list-style-type: none;
}

.task-list li {
    background-color: #f9f9f9;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list .remove-task {
    color: #f44336;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.task-list .remove-task:hover {
    color: #d32f2f;
}
